<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <attachFile argsType="Sitecore.Pipelines.Attach.AttachArgs">
                <processor mode="on" type="Sitecore.Validations.Attach.ImageAttachMaxSize, ImageOptimizer" patch:before="processor[@type='Sitecore.Pipelines.Attach.CheckSize,Sitecore.Kernel']">
                    <restrictedExtensions hint="list">
                        <extension>.jpg</extension>
                        <extension>.jpeg</extension>
                        <extension>.png</extension>
                        <extension>.bmp</extension>
                    </restrictedExtensions>
                </processor>
            </attachFile>
            <uiUpload>
                <processor mode="on" type="Sitecore.Validations.Upload.ImageUploadMaxSize, ImageOptimizer" patch:before="processor[@type='Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel']">
                    <restrictedExtensions hint="list">
                        <extension>.jpg</extension>
                        <extension>.jpeg</extension>
                        <extension>.png</extension>
                        <extension>.bmp</extension>
                    </restrictedExtensions>
                </processor>
            </uiUpload>
        </processors>

	<pipelines>
            <getMediaStream>
                <processor type="Sitecore.Validations.Compression.ImageCompression, ImageOptimizer" />
            </getMediaStream>
        </pipelines>

	<settings>
	<!-- The default resizing quality for JPEGs is extremely high (95) which wastes bandwidth.
	Community recommendations place the optimal JPEG quality/size ratio between 70 and 80. -->
            	<setting name="Media.Resizing.Quality" value="72" />
		<setting name="Media.MaxImageSizeInDatabase" value="600KB" />
        </settings>
    </sitecore>
</configuration>